*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

body{
    background-color: #353E5B;
}

.container{
    width:100%;
    min-height: 100vh;
    max-height: fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.list{
    margin-bottom: 32px;
}

.todo{
    width:350px;
    height: 40px;
    background-color: #423A6F;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    padding:10px 15px;
    border-bottom: 1px solid #242C40;
    color:#F4F1ED;
}

.addTodo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.header{
    color:#F4F1ED;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.getTodo{
    width:350px ;
    height: 35px;
    background-color: #242C40;
    color:#F4F1ED;
    border:none;
    border-radius: 3px;
    padding : 5px 10px ;
}

.wrong{
    display:none;
    color:rgb(255, 6, 6);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 15px;
}