*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

body{
    background-color: #353E5B;
}

.container{
    width:100%;
    min-height: 100vh;
    max-height: fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list{
    margin-bottom: 32px;
}

.todo{
    width:350px;
    height: 40px;
    background-color: #423A6F;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    padding:10px 15px;
    border-bottom: 1px solid #242C40;
    color:#F4F1ED;
}

.addTodo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}